1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.

Ans: values: 'hello' , -87.8  , 6
     expression: * , - , / , +

2. What is the difference between string and variable?

Ans: string is basically a group of characters,string is a type of information which we need to store in  a variable,for eg:'Ram','School' 
     varibles are used to give values,that is to initialize a value which we need in the code for eg: a=15.here a is a variable which contains        value 15.

3. Describe three different data types.

Ans: The various data types in python are:
     1)Lists:They are mutabable in nature.
             They are used to store various items in a single variable.
             Generated using square brackets.
             eg:a=[1,3,4,2]
     2)Tuple:They are immutable in nature.
             They are used to store items of the same of type in a variable.
             Generated using round brackets 
             eg:a=(1,2,3,4)
     3)Set:Used to store multiple items in a single varible.
           They are mutable in nature.
           Generated using curly brackets.
           eg : S={'Jack','45','rose'}

4. What is an expression made up of? What do all expressions do?

Ans: Expressions in python are basically used to perform mathematical operations.
     They are a combination of both operator and operand.
     They produce some values or result after being interpreted by the python interpreter.
     for eg:
     x=3+5 ,here 3 and 5 are the operands and + is the operator,the result will be stored in x.

5. This assignment statements, like spam = 10. What is the difference between an
expression and a statement?

Ans: A statement in python is not basically used to get results,whereas expression is used to get result where operands and operator is present 
     spam=10 is a statement
     but if we write spam=spam+10 then it is an expresssion
     this is the major differnce between expression and statement in python.

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

Ans: the output will be
     bacon = 23
     explanation: as the value of bacon first is 22 then it is added with 1 which makes the value of bacon 23.bacon here is a variable .

7. What should the values of the following two terms be?
&#39;spam&#39; + &#39;spamspam&#39;
&#39;spam&#39; * 3

Ans: The output of both cases will be the same,ie
     spamspamspam

8. Why is eggs a valid variable name while 100 is invalid?

Ans: In python a varible must always start with alphabets and not a number.here in the queation the variable name starts 
     with number which is not allowed.
     that is the reason eggs is a valid variable name but 100 is not.

9. What three functions can be used to get the integer, floating-point number, or string
version of a value?

Ans: The three functions are :
    int()
    float()
    str()

10. Why does this expression cause an error? How can you fix it?
&#39;I have eaten &#39; + 99 + &#39; burritos.&#39;

Ans: The error is caused there is a interger value in between and we cannot add strings with integers,thats not possible
      it can be corrected in the following way:
      'I have eaten'+' 99'+'burritos'
      here the integer value 99 is written in the form of a string by writing it in ''.